@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);

body {
   
}

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}

#slides_control > div{
  height: 200px;
}
.img-slide{
  //margin:auto;
  margin:5px 10px;
  //float:right;
  width: 60%;    
  //background-size:100% 100%;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}

.nav-pills li.active a:hover
 {
    //background-color:#5cb85c;
}
.img-tile{
    margin: 10px 10px;
    height: 126px;
    width: 180px;
}

.img-smallTile{
    float:left;
    align-content:center;
    margin: 5px 3px;
    width: 96px;
    height: 72px;
    
}

.list-group{
   margin-bottom:7px;
}

.navbar-myNavbar{
    //font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

label
{
	font-size:12px;
}

.otherUser {
	pointer-events: none;
}
.clickable {
	pointer-events: auto;
}

.infoEventMain{
	position:fixed;
	top:55px;
	right:0px;
	z-index:5;
}
.infoEvent{
	height:60px;
	width:250px;
	opacity: 0.7;
	border-radius:5px;
	margin:1px;
	text-align:center;
	vertical-align: middle;
	font-family: Arial;
	font-size:17px;
	color:white;
	line-height:40px;
}
.infoEventWarning{
	background-color:#B20000;
}
.infoEventSuccess{
	background-color:#4DB870;
}
.myCloseButton{
	margin:0px;
	padding:0px;
	font-weight:bold;
}
.myCloseButton:hover{
	color:#d4d4d4;
}