@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@charset "utf-8";

.row {
    padding: 10px; 
    border-style: solid; 
    border-width: 3px;
    border-radius: 10px;
    border-color: darkgray;
    margin: 0 auto;
    margin-bottom: 2px;
    width: 99.5%;
    //color:dimgrey;
}

.row span {
    padding: 5px;
}

.bakery :hover {
    background-color:aliceblue;
}    

.bakery-name {
    
}

.receipts-date {
    font-weight: normal;
}

.bakery-data {
    font-weight: normal;
    color: gray;
}

.bakery-data-cash {
    font-weight: normal;
    color: cornflowerblue;
}

.currentDate {
    color: gray;
}

.notCurrentDate {
    color: red;
}

.plusButton {
    height: 22px;
    width: 22px;
    font-weight: normal;
}