<div class="">
    <div class="col-md-12">
        <h4><small><i class="glyphicon glyphicon-wrench"></i> Инструменты</small></h4>
    </div>
    <div class="col-md-4" ng-if = "access.toAnalitics();">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Аналитика</h3>
            </div>
            <div class="panel-body">
                <p><a ui-sref="main.revenue"><i class="glyphicon glyphicon-usd"></i>  Выручка</a></p>
                <p ng-if="access.toHourlyStatsPage()"><a ui-sref="main.hourlystats({bakeryID: bakeries[0].id})"><i class="glyphicon glyphicon-time"></i>  Почасовая статистика</a></p>
                <p ng-if="access.toReceiptsPage()"><a ui-sref="main.receipts({bakeryID: bakeries[0].id})"><i class="glyphicon glyphicon-list"></i>  Чеки</a></p>
                <p ng-if = "access.toAdmin();"><a ui-sref="main.hourlystats({bakeryID: 1})"><i class="glyphicon glyphicon-eye-open"></i>  Эффективность заказов</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4" ng-if = "access.toManagersTool();">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Управляющему</h3>
            </div>
            <div class="panel-body">
                <a ui-sref="main.orders({bakeryID: bakeries[0].id})" ng-if="access.toOrdersPage()"><i class="glyphicon glyphicon-shopping-cart"></i>  Заказы</a>
            </div>
        </div>
    </div>

    <div class="col-md-4" ng-if = "access.toAdmin();">
        <div class="panel panel-primary" ng-if = "access.toAdmin();">
            <div class="panel-heading">
                <h3 class="panel-title">Администратору</h3>
            </div>
            <div class="panel-body">
                <p ng-if="access.toUsersManagementPage()"><a ui-sref="main.usersManagement"><i class="glyphicon glyphicon-user"></i>  Управление пользователями</a></p>
            </div>
        </div>
    </div>

</div>
