<div class="">
    <div class="col-md-12">
        <h4><small><i class="glyphicon glyphicon-user"></i> Пользователи</small></h4>
    </div>
    <div class="col-xs-12">
        <table class="table table-condensed table-bordered">
            <tr ng-class = "" class = "">
                <!-- <td class="">{{user.id}}</td> -->
                <td class="col-sm-3"><input type="text" class="form-control" id="exampleInputEmail1" placeholder="Фамилия" ng-model="newUser.lastName"></td>
                <td class="col-sm-3"><input type="text" class="form-control" id="exampleInputEmail1" placeholder="Имя" ng-model="newUser.firstName"></td>
                <td class="col-sm-3"><input type="text" class="form-control" id="exampleInputEmail1" placeholder="email" ng-model="newUser.email"></td>
                <td class="col-sm-3">
                    <button class="btn btn-primary col-xs-6" type="submit" ng-click = "addUser()">Добавить</button>
                </td>
            </tr>
            <tbody ng-repeat = "user in users | orderBy: ['lastName','firstName']" ng-if ="users">
                <tr ng-class = "{'info': user.new} " class = "">
                    <!-- <td class="">{{user.id}}</td> -->
                    <td class="col-sm-3">{{user.lastName}}</td>
                    <td class="col-sm-3">{{user.firstName}}</td>
                    <td class="col-sm-3">{{user.email}}</td>
                    <td class="col-sm-3">
                        <button class="btn btn-default col-xs-6" type="submit" ng-if="!user.toDelete" ng-click = "deletePressed(user)">Удалить</button>
                        <button class="btn btn-primary col-xs-6" type="submit" ng-if="user.toDelete" ng-click = "deleteCanceled(user)">Отменить</button>
                        <button class="btn btn-danger col-xs-6" type="submit" ng-if="user.toDelete" ng-click = "deleteUser(user)">Удалить</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
