@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);
@charset "utf-8";
body {

}
#divContainer
{
	//width:95%;
	margin: 0 auto; /*this is what makes our page to sit in a centre of browser window*/
	margin:0;
	font-size:12px;
	font-family:Calibri;
}
/*these styles for table*/
table 
{
	margin-top:0px;
	border-collapse:collapse; 
	width:100%;
}
th 
{ 
	text-align:center;
	font-size: 110%; 
	border: 0px solid #E6E6E6; 
	background-color:#E6E6E6; 
	background:-moz-linear-gradient(#828282,#E6E6E6);
	background:-webkit-gradient(linear,left top, left bottom, from(#828282), to(#E6E6E6));
	background: linear-gradient(#828282,#E6E6E6);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
td 
{ 
	padding: 1px; 
	border: 1px solid #aaa ;
	padding-left:5px;
}
.paraOverTable
{
	color:#828282;
	font-family:Calibri;
	font-size:1.5em;
	margin:0px;
	padding-bottom:5px;
}
